/bin
/Cost_-12_constant
/Cost_-12_two-third-power
/Cost_-8_constant
/Cost_-8_two-third-power
/Cost_alphabeta_0.5
/Cost_alphabeta_1.5
/Cost_alphabeta_2.5
/Cost_alphabeta_3.5
/Cost_alphabeta_4.5
/combinedLoanData.arff
